:root{
  --carbonGrey : hsl(0, 0%, 7%);
  --totBlack : hsl(0,0%,0%);
  --murkyWhite : #D2D2D2;
  --nightBlue : hsl(236, 47%, 38%);
}

*{
  font-family: 'Poppins', sans-serif;
  -webkit-text-size-adjust:none;
  font-size-adjust: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background: var(--totBlack);
  padding: 50px;
  overflow: hidden;
}


.container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#clock {
  font-size: 70px;
  color: var(--murkyWhite);
}

#alarm-time{
  width: 100%;
  color: var(--murkyWhite);
  background: var(--carbonGrey);
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  -webkit-appearance:none;
}
#alarm-time::-webkit-inner-spin-button,
#alarm-time::-webkit-calendar-picker-indicator{
  display: none;
  -webkit-appearance:none;
}

.controls {
  margin-top: 16px;
}

.btn-btn-primary{
  background: var(--carbonGrey);
  border-radius: 5px;
  border: none;
  color: var(--murkyWhite);
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  text-transform: uppercase;
  margin-top: 16px;
  outline: none;
}

.btn-btn-danger{
  background-color: var(--nightBlue);
  border-radius: 5px;
  border: none;
  color: var(--murkyWhite);
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
  margin-top: 16px;
  outline: none;
}
